
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #fcfcfc;
}



li .active{
 background-color: white!important;
  color: rgb(237, 122, 145)!important;
  font-weight: 600!important;
  font-size: 20px!important;
}

/* bg-[#FF99AA] */
.card.image-full:before {
  opacity: 0.5;
}

.card.image-full:hover {
  opacity: 0.95;
  background-color: black;
}