
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #fcfcfc;
}



.active {
  background-color: white;
  color: rgb(255, 156, 176);
}

/* bg-[#FF99AA] */
.card.image-full:before {
  opacity: 0.5;
}

.card.image-full:hover {
  opacity: 0.95;
  background-color: black;
}